<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Kunden List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Kunden Name</th>
        <th>Beruf</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let kunde of kunden | async">
        <td>{{kunde.kid}}</td>
        <td>{{kunde.kname}}</td>
        <td>{{kunde.beruf}}</td>
        <td><button (click)="deleteKunde(kunde.kid)" class="btn btn-danger">Delete</button>
          <button (click)="kundeDetails(kunde.kid)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button (click)="updateKunde(kunde.kid)" class="btn btn-dark" style="margin-left: 10px">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
