<h3>Create Kunde</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="kunde.kname" name="Name">
    </div>

    <div class="form-group">
      <label for="beruf">Beruf</label>
      <input type="text" class="form-control" id="beruf" required [(ngModel)]="kunde.beruf" name="beruf">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
