<h2>Employee Details</h2>

<hr/>
<div *ngIf="kunde">
  <div>
    <label><b>Name: </b></label> {{kunde.kname}}
  </div>
  <div>
    <label><b>Beruf: </b></label> {{kunde.beruf}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>
